<section class="exercise">
    <div class="container">
        <div class="exercise__inner">
            <div class="exercise__body">
                <h1 class="exercise__title">
                    Тестовое задание для <span class="exercise__accent">самого лучшего</span> верстальщика
                </h1>
                <div class="exercise__content">
                    <div class="exercise__application">
                        <p class="exercise__headding">
                            Низкий оргвзнос
                        </p>
                        <div class="exercise__pulse">
                            <span class="exercise__price">
                                30
                            </span>
                        </div>
                        <button class="exercise__btn button" type="button">
                            Подать заявку на участие
                        </button>
                    </div>
                    <ul class="exercise__about">
                        <li class="exercise__list">
                            <p class="exercise__subtitle">Ученикам</p>
                            <ul class="exercise__items">
                                <li class="exercise__item">
                                    Конкурс по 16 предметам
                                </li>
                                <li class="exercise__item">
                                    Доступные задания для всех учеников
                                </li>
                                <li class="exercise__item">
                                    Бесплатные дипломы и сертификаты
                                </li>
                            </ul>
                        </li>

                        <li class="exercise__list">
                            <p class="exercise__subtitle">Учителям</p>
                            <ul class="exercise__items">
                                <li class="exercise__item">
                                    Бесплатные свидетельства
                                </li>
                                <li class="exercise__item">
                                    Бесплатные благодарности
                                </li>
                                <li class="exercise__item">
                                    Простое участие
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="exercise__bg" style="background-image: url('img/exercise-bg.png');"></div>
        </div>
    </div>
</section>